img {
    background-image: url("/Images/Surf2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 5px;
    
}

h1 {
   
    position: absolute;
    top: 25%;
    left: 48%;
    
    
}

h4{
   text-align: center;
    position: absolute;
    left: 44%;

   
}

header {
  
   position: absolute;
   top: 0%;
   left: 1100px;
   margin-top: auto;
  
}


   



